---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import Spark from "../assets/images/spark.svg";
import WhiteSpark from "../assets/images/whitespark.svg";
import moodboard1 from "../assets/images/moodboard/moodboard1.jpg";
import moodboard2 from "../assets/images/moodboard/moodboard2.png";
import moodboard3 from "../assets/images/moodboard/moodboard3.png";
import moodboard4 from "../assets/images/moodboard/moodboard4.png";
import Illustrator from "../assets/images/Illustrator.png";

---

<MainLayout title="Titel">
  <article>
    <!-- Herosektion -->
    <section
      style="background-image: url(/bg.webp)"
      class="flex items-center h-screen w-100 bg-cover bg-center top-0"
    >
      <div class="flex flex-col items-center justify-center mx-auto">
        <Image
          loading="lazy"
          src={WhiteSpark}
          alt="Jorden"
          class="object-cover md:max-w-2xl img-[#FFFFFF]"
        />
        <h2 class="italic pb-3 text-[#FFFFFF]">By Thea</h2>
      </div>
    </section>



<!-- 
<section class="grid md:grid-cols-2 gap-10 p-16 " >
  <div class="border border-[#F16D41] p-5">
    <svg
      id="Layer_5"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 955.48 298.07"
    >
      <defs>
        <style>
          .cls-orange {
            fill: #f16d41;
          }
        </style>
      </defs>
      <path
        class="cls-orange"
        d="M163.35,260.16V35.16h100.08c13.67,0,25.41,4.92,35.21,14.77,9.8,9.84,14.71,21.56,14.71,35.16v25.08c0,13.67-4.9,25.41-14.71,35.21-.59.59-1.07,1.05-1.07,1.05h-115.93s-.02,5.62-.02,5.62h112.74c-1.66.86-4.15,2-7.34,2.86-4.06,1.1-6.6,1.04-12.37,1.19l-11.24.05h-50.16v104.01s-49.92,0-49.92,0ZM166.83,143.38l56.18-.7c10.96,0,20.43-2.48,28.43-7.44,8-4.96,11.99-18.28,11.99-25.08v-25.08c0-6.8-4-12.64-11.99-17.52-8-4.88-17.47-7.32-28.43-7.32l-56.18.7v82.44Z"
      ></path>
      <path
        class="cls-orange"
        d="M363.27,260.29V85.21c0-13.67,4.9-25.41,14.71-35.21,9.8-9.8,21.54-14.71,35.21-14.71h50.16c13.67,0,25.41,4.92,35.21,14.77,9.8,9.84,14.71,21.56,14.71,35.16,0,20.48,0,40.72,0,61.2h-131.27v6.12h131.11c0,36.95.14,70.81.14,107.76-16.64,0,14.18-.17-2.47-.17l-.15-104.22-97.61.17.15,104.22h-49.92ZM382.01,144.11h81.33v-59.07c0-6.8-4.02-12.64-12.07-17.52-8.05-4.88-17.58-7.32-28.6-7.32s-20.71,2.44-28.69,7.32c-7.98,4.88-11.97,10.72-11.97,17.52v59.07Z"
      ></path>
      <path
        class="cls-orange"
        d="M563.19,260.12V35.12h100.08c13.67,0,25.41,4.92,35.21,14.77,9.8,9.84,14.71,21.56,14.71,35.16v13.59c-.04,7.02-1.2,21.56-11.48,32.29-11.88,12.38-24.27,15.03-40.83,15.48l-79.13.05-.02,5.86c25.49.35,88.87-.21,106.49-.27,0,0,7.06-.4,14.18,2.48,2.42.98,4.78,2.31,6.69,4.64,1.31,1.6,2.01,3.18,2.41,4.09,1.17,2.7,1.51,5.12,1.62,6.73l.08,90.14h-4.53c-.13-11.95-.22-21.94-.27-29.25,0,0-.24-33.15-.15-34.02l.03-23.85c.07-1.27.11-5.89-1.87-8.91-1.89-2.88-4.57-5.16-6.92-6.07-4.58-1.78-10.75-1.58-12-1.47-1.69.15-24.65.01-49.3.01h-25.03l-.05,103.55h-49.92ZM566.23,143.65h56.69c10.94,0,20.39-2.48,28.38-7.44,7.98-4.96,11.97-19.29,11.97-26.09v-25.08c0-6.8-3.99-12.64-11.97-17.52-7.98-4.88-17.44-7.32-28.38-7.32h-56.69v83.45Z"
      ></path>
      <path
        class="cls-orange"
        d="M763.11,260.12V34.02h18.39v108.23l13.67-.06,92.23-108.16h50.79c-2.82,3.17-48.97,56.36-98.83,112.42,0,0-57.97,0-57.97,0l-.14,5.6h58s.86.87.96.97c.64.66,25.4,25.38,97.98,107.11h-5.21l-94.27-104.15h-25.29s-.38,104.15-.38,104.15h-49.92Z"
      ></path>
      <path
        class="cls-orange"
        d="M142.82,200.33c-.19-5.1-.87-8.86-1.17-10.37-.8-4.07-1.91-7.58-3.02-10.46,0,0-3.51-8.54-10.99-17.02-.37-.42-2.62-2.94-7.1-7.98-.23-.26-.42-.48-.57-.64-.16-.17-.33-.38-.39-.43-.62-.69-.44-.49-1.01-1.06-.26-.26-.24-.32-.84-.85-.57,0-1.13.01-1.7.02l-53.54.06-.02-4.91,51.09-.06-38.88-43.68c-4.92-5.47-7.38-11.33-7.38-17.58,0-8.36,2.23-14.65,6.68-18.87s11.05-6.33,19.8-6.33c13.59,0,21.48,8.36,23.67,25.08h24.84c-2.03-33.28-18.67-49.92-49.92-49.92h-25.08c-13.75,0-25.51,4.92-35.27,14.77-9.77,9.84-14.65,21.56-14.65,35.16v12.66c0,6.33,1.22,12.43,3.66,18.31,3.39,8.16,7.93,13.81,10.99,16.96,4.42,4.95,20.07,22.51,20.39,22.87h9.33s5.12-.02,5.12-.02l46.94-.05h.82c4.23,3.32,10.49,9.14,15.6,18.02,2.54,4.42,11.64,21.56,6.68,43.03-1.02,4.44-4.16,17.25-15.51,27.95-14.85,14.02-33.26,14.49-42.28,14.72-7.02.18-25.25.65-40.62-11.48-2.64-2.08-8.31-6.66-12.44-14.68-4.5-8.77-4.86-17.18-4.54-23.15h-4.15c-.25,4.75-.68,23.39,12.54,37.38,11.75,12.44,27.87,14.42,38.19,15.69,3.25.4,10,1.02,18.49.08,13.19-1.46,22.4-5.77,24.29-6.67,4.43-2.12,10.56-5.12,16.77-11.37,5.71-5.75,9.08-11.83,11.03-16.38,4.79-11.17,4.43-21.09,4.14-28.8Z"
      ></path>
    </svg>

    <p class="text-[#F16D41]">
      Spark er inspireret af den følelse man får når man bliver inspireret
      kreativt, når det sitre helt ud i fingrene og man ikke kan vente på at
      begynde sit næste projekt. I alle vores passions projekter drives vi
      af følelsen at sitre, en gnist der tændes, et væld af motivation der
      holder os kørende.
    </p>
  </div>

  <p class="max-w-md italic">
    Spark er inspireret af  den følelse man får når man bliver inspireret kreativt, når det sitre helt ud i fingrene og man ikke kan vente på at begynde sit næste projekt. 

    I alle vores passions projekter drives vi af følelsen at sitre, en gnist der tændes, et væld af motivation der holder os kørende. 
  </p>
</section>
   -->


    <!-- Grid -->
<section class="p-16 grid md:grid-cols-3 gap-5">
  <div class="bg-[#F16D41] p-5">
    <svg
      id="Layer_1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 955.48 298.07"
    >
      <defs>
        <style>
          .cls-white {
            fill: #ffffff;
          }
        </style>
      </defs>
      <path
        class="cls-white"
        d="M163.35,260.16V35.16h100.08c13.67,0,25.41,4.92,35.21,14.77,9.8,9.84,14.71,21.56,14.71,35.16v25.08c0,13.67-4.9,25.41-14.71,35.21-.59.59-1.07,1.05-1.07,1.05h-115.93s-.02,5.62-.02,5.62h112.74c-1.66.86-4.15,2-7.34,2.86-4.06,1.1-6.6,1.04-12.37,1.19l-11.24.05h-50.16v104.01s-49.92,0-49.92,0ZM166.83,143.38l56.18-.7c10.96,0,20.43-2.48,28.43-7.44,8-4.96,11.99-18.28,11.99-25.08v-25.08c0-6.8-4-12.64-11.99-17.52-8-4.88-17.47-7.32-28.43-7.32l-56.18.7v82.44Z"
      ></path>
      <path
        class="cls-white"
        d="M363.27,260.29V85.21c0-13.67,4.9-25.41,14.71-35.21,9.8-9.8,21.54-14.71,35.21-14.71h50.16c13.67,0,25.41,4.92,35.21,14.77,9.8,9.84,14.71,21.56,14.71,35.16,0,20.48,0,40.72,0,61.2h-131.27v6.12h131.11c0,36.95.14,70.81.14,107.76-16.64,0,14.18-.17-2.47-.17l-.15-104.22-97.61.17.15,104.22h-49.92ZM382.01,144.11h81.33v-59.07c0-6.8-4.02-12.64-12.07-17.52-8.05-4.88-17.58-7.32-28.6-7.32s-20.71,2.44-28.69,7.32c-7.98,4.88-11.97,10.72-11.97,17.52v59.07Z"
      ></path>
      <path
        class="cls-white"
        d="M563.19,260.12V35.12h100.08c13.67,0,25.41,4.92,35.21,14.77,9.8,9.84,14.71,21.56,14.71,35.16v13.59c-.04,7.02-1.2,21.56-11.48,32.29-11.88,12.38-24.27,15.03-40.83,15.48l-79.13.05-.02,5.86c25.49.35,88.87-.21,106.49-.27,0,0,7.06-.4,14.18,2.48,2.42.98,4.78,2.31,6.69,4.64,1.31,1.6,2.01,3.18,2.41,4.09,1.17,2.7,1.51,5.12,1.62,6.73l.08,90.14h-4.53c-.13-11.95-.22-21.94-.27-29.25,0,0-.24-33.15-.15-34.02l.03-23.85c.07-1.27.11-5.89-1.87-8.91-1.89-2.88-4.57-5.16-6.92-6.07-4.58-1.78-10.75-1.58-12-1.47-1.69.15-24.65.01-49.3.01h-25.03l-.05,103.55h-49.92ZM566.23,143.65h56.69c10.94,0,20.39-2.48,28.38-7.44,7.98-4.96,11.97-19.29,11.97-26.09v-25.08c0-6.8-3.99-12.64-11.97-17.52-7.98-4.88-17.44-7.32-28.38-7.32h-56.69v83.45Z"
      ></path>
      <path
        class="cls-white"
        d="M763.11,260.12V34.02h18.39v108.23l13.67-.06,92.23-108.16h50.79c-2.82,3.17-48.97,56.36-98.83,112.42,0,0-57.97,0-57.97,0l-.14,5.6h58s.86.87.96.97c.64.66,25.4,25.38,97.98,107.11h-5.21l-94.27-104.15h-25.29s-.38,104.15-.38,104.15h-49.92Z"
      ></path>
      <path
        class="cls-white"
        d="M142.82,200.33c-.19-5.1-.87-8.86-1.17-10.37-.8-4.07-1.91-7.58-3.02-10.46,0,0-3.51-8.54-10.99-17.02-.37-.42-2.62-2.94-7.1-7.98-.23-.26-.42-.48-.57-.64-.16-.17-.33-.38-.39-.43-.62-.69-.44-.49-1.01-1.06-.26-.26-.24-.32-.84-.85-.57,0-1.13.01-1.7.02l-53.54.06-.02-4.91,51.09-.06-38.88-43.68c-4.92-5.47-7.38-11.33-7.38-17.58,0-8.36,2.23-14.65,6.68-18.87s11.05-6.33,19.8-6.33c13.59,0,21.48,8.36,23.67,25.08h24.84c-2.03-33.28-18.67-49.92-49.92-49.92h-25.08c-13.75,0-25.51,4.92-35.27,14.77-9.77,9.84-14.65,21.56-14.65,35.16v12.66c0,6.33,1.22,12.43,3.66,18.31,3.39,8.16,7.93,13.81,10.99,16.96,4.42,4.95,20.07,22.51,20.39,22.87h9.33s5.12-.02,5.12-.02l46.94-.05h.82c4.23,3.32,10.49,9.14,15.6,18.02,2.54,4.42,11.64,21.56,6.68,43.03-1.02,4.44-4.16,17.25-15.51,27.95-14.85,14.02-33.26,14.49-42.28,14.72-7.02.18-25.25.65-40.62-11.48-2.64-2.08-8.31-6.66-12.44-14.68-4.5-8.77-4.86-17.18-4.54-23.15h-4.15c-.25,4.75-.68,23.39,12.54,37.38,11.75,12.44,27.87,14.42,38.19,15.69,3.25.4,10,1.02,18.49.08,13.19-1.46,22.4-5.77,24.29-6.67,4.43-2.12,10.56-5.12,16.77-11.37,5.71-5.75,9.08-11.83,11.03-16.38,4.79-11.17,4.43-21.09,4.14-28.8Z"
      ></path>
    </svg>

    <p class="text-white">
      Spark er inspireret af den følelse man får når man bliver inspireret
      kreativt, når det sitre helt ud i fingrene og man ikke kan vente på at
      begynde sit næste projekt. I alle vores passions projekter drives vi
      af følelsen at sitre, en gnist der tændes, et væld af motivation der
      holder os kørende.
    </p>
  </div>

  <div class="border border-[#0F0E0E] p-5">
    <svg
      id="Layer_5"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 955.48 298.07"
    >
      <defs>
        <style>
          .cls-black {
            fill: #0f0e0e;
          }
        </style>
      </defs>
      <path
        class="cls-black"
        d="M163.35,260.16V35.16h100.08c13.67,0,25.41,4.92,35.21,14.77,9.8,9.84,14.71,21.56,14.71,35.16v25.08c0,13.67-4.9,25.41-14.71,35.21-.59.59-1.07,1.05-1.07,1.05h-115.93s-.02,5.62-.02,5.62h112.74c-1.66.86-4.15,2-7.34,2.86-4.06,1.1-6.6,1.04-12.37,1.19l-11.24.05h-50.16v104.01s-49.92,0-49.92,0ZM166.83,143.38l56.18-.7c10.96,0,20.43-2.48,28.43-7.44,8-4.96,11.99-18.28,11.99-25.08v-25.08c0-6.8-4-12.64-11.99-17.52-8-4.88-17.47-7.32-28.43-7.32l-56.18.7v82.44Z"
      ></path>
      <path
        class="cls-black"
        d="M363.27,260.29V85.21c0-13.67,4.9-25.41,14.71-35.21,9.8-9.8,21.54-14.71,35.21-14.71h50.16c13.67,0,25.41,4.92,35.21,14.77,9.8,9.84,14.71,21.56,14.71,35.16,0,20.48,0,40.72,0,61.2h-131.27v6.12h131.11c0,36.95.14,70.81.14,107.76-16.64,0,14.18-.17-2.47-.17l-.15-104.22-97.61.17.15,104.22h-49.92ZM382.01,144.11h81.33v-59.07c0-6.8-4.02-12.64-12.07-17.52-8.05-4.88-17.58-7.32-28.6-7.32s-20.71,2.44-28.69,7.32c-7.98,4.88-11.97,10.72-11.97,17.52v59.07Z"
      ></path>
      <path
        class="cls-black"
        d="M563.19,260.12V35.12h100.08c13.67,0,25.41,4.92,35.21,14.77,9.8,9.84,14.71,21.56,14.71,35.16v13.59c-.04,7.02-1.2,21.56-11.48,32.29-11.88,12.38-24.27,15.03-40.83,15.48l-79.13.05-.02,5.86c25.49.35,88.87-.21,106.49-.27,0,0,7.06-.4,14.18,2.48,2.42.98,4.78,2.31,6.69,4.64,1.31,1.6,2.01,3.18,2.41,4.09,1.17,2.7,1.51,5.12,1.62,6.73l.08,90.14h-4.53c-.13-11.95-.22-21.94-.27-29.25,0,0-.24-33.15-.15-34.02l.03-23.85c.07-1.27.11-5.89-1.87-8.91-1.89-2.88-4.57-5.16-6.92-6.07-4.58-1.78-10.75-1.58-12-1.47-1.69.15-24.65.01-49.3.01h-25.03l-.05,103.55h-49.92ZM566.23,143.65h56.69c10.94,0,20.39-2.48,28.38-7.44,7.98-4.96,11.97-19.29,11.97-26.09v-25.08c0-6.8-3.99-12.64-11.97-17.52-7.98-4.88-17.44-7.32-28.38-7.32h-56.69v83.45Z"
      ></path>
      <path
        class="cls-black"
        d="M763.11,260.12V34.02h18.39v108.23l13.67-.06,92.23-108.16h50.79c-2.82,3.17-48.97,56.36-98.83,112.42,0,0-57.97,0-57.97,0l-.14,5.6h58s.86.87.96.97c.64.66,25.4,25.38,97.98,107.11h-5.21l-94.27-104.15h-25.29s-.38,104.15-.38,104.15h-49.92Z"
      ></path>
      <path
        class="cls-black"
        d="M142.82,200.33c-.19-5.1-.87-8.86-1.17-10.37-.8-4.07-1.91-7.58-3.02-10.46,0,0-3.51-8.54-10.99-17.02-.37-.42-2.62-2.94-7.1-7.98-.23-.26-.42-.48-.57-.64-.16-.17-.33-.38-.39-.43-.62-.69-.44-.49-1.01-1.06-.26-.26-.24-.32-.84-.85-.57,0-1.13.01-1.7.02l-53.54.06-.02-4.91,51.09-.06-38.88-43.68c-4.92-5.47-7.38-11.33-7.38-17.58,0-8.36,2.23-14.65,6.68-18.87s11.05-6.33,19.8-6.33c13.59,0,21.48,8.36,23.67,25.08h24.84c-2.03-33.28-18.67-49.92-49.92-49.92h-25.08c-13.75,0-25.51,4.92-35.27,14.77-9.77,9.84-14.65,21.56-14.65,35.16v12.66c0,6.33,1.22,12.43,3.66,18.31,3.39,8.16,7.93,13.81,10.99,16.96,4.42,4.95,20.07,22.51,20.39,22.87h9.33s5.12-.02,5.12-.02l46.94-.05h.82c4.23,3.32,10.49,9.14,15.6,18.02,2.54,4.42,11.64,21.56,6.68,43.03-1.02,4.44-4.16,17.25-15.51,27.95-14.85,14.02-33.26,14.49-42.28,14.72-7.02.18-25.25.65-40.62-11.48-2.64-2.08-8.31-6.66-12.44-14.68-4.5-8.77-4.86-17.18-4.54-23.15h-4.15c-.25,4.75-.68,23.39,12.54,37.38,11.75,12.44,27.87,14.42,38.19,15.69,3.25.4,10,1.02,18.49.08,13.19-1.46,22.4-5.77,24.29-6.67,4.43-2.12,10.56-5.12,16.77-11.37,5.71-5.75,9.08-11.83,11.03-16.38,4.79-11.17,4.43-21.09,4.14-28.8Z"
      ></path>
    </svg>

    <p class="text-[#0F0E0E]">
      Spark er inspireret af den følelse man får når man bliver inspireret
      kreativt, når det sitre helt ud i fingrene og man ikke kan vente på at
      begynde sit næste projekt. I alle vores passions projekter drives vi
      af følelsen at sitre, en gnist der tændes, et væld af motivation der
      holder os kørende.
    </p>
  </div>

  <div class="border border-[#004C8C] p-5">
    <svg
      id="Layer_5"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 955.48 298.07"
    >
      <defs>
        <style>
          .cls-blue {
            fill: #004c8c;
          }
        </style>
      </defs>
      <path
        class="cls-blue"
        d="M163.35,260.16V35.16h100.08c13.67,0,25.41,4.92,35.21,14.77,9.8,9.84,14.71,21.56,14.71,35.16v25.08c0,13.67-4.9,25.41-14.71,35.21-.59.59-1.07,1.05-1.07,1.05h-115.93s-.02,5.62-.02,5.62h112.74c-1.66.86-4.15,2-7.34,2.86-4.06,1.1-6.6,1.04-12.37,1.19l-11.24.05h-50.16v104.01s-49.92,0-49.92,0ZM166.83,143.38l56.18-.7c10.96,0,20.43-2.48,28.43-7.44,8-4.96,11.99-18.28,11.99-25.08v-25.08c0-6.8-4-12.64-11.99-17.52-8-4.88-17.47-7.32-28.43-7.32l-56.18.7v82.44Z"
      ></path>
      <path
        class="cls-blue"
        d="M363.27,260.29V85.21c0-13.67,4.9-25.41,14.71-35.21,9.8-9.8,21.54-14.71,35.21-14.71h50.16c13.67,0,25.41,4.92,35.21,14.77,9.8,9.84,14.71,21.56,14.71,35.16,0,20.48,0,40.72,0,61.2h-131.27v6.12h131.11c0,36.95.14,70.81.14,107.76-16.64,0,14.18-.17-2.47-.17l-.15-104.22-97.61.17.15,104.22h-49.92ZM382.01,144.11h81.33v-59.07c0-6.8-4.02-12.64-12.07-17.52-8.05-4.88-17.58-7.32-28.6-7.32s-20.71,2.44-28.69,7.32c-7.98,4.88-11.97,10.72-11.97,17.52v59.07Z"
      ></path>
      <path
        class="cls-blue"
        d="M563.19,260.12V35.12h100.08c13.67,0,25.41,4.92,35.21,14.77,9.8,9.84,14.71,21.56,14.71,35.16v13.59c-.04,7.02-1.2,21.56-11.48,32.29-11.88,12.38-24.27,15.03-40.83,15.48l-79.13.05-.02,5.86c25.49.35,88.87-.21,106.49-.27,0,0,7.06-.4,14.18,2.48,2.42.98,4.78,2.31,6.69,4.64,1.31,1.6,2.01,3.18,2.41,4.09,1.17,2.7,1.51,5.12,1.62,6.73l.08,90.14h-4.53c-.13-11.95-.22-21.94-.27-29.25,0,0-.24-33.15-.15-34.02l.03-23.85c.07-1.27.11-5.89-1.87-8.91-1.89-2.88-4.57-5.16-6.92-6.07-4.58-1.78-10.75-1.58-12-1.47-1.69.15-24.65.01-49.3.01h-25.03l-.05,103.55h-49.92ZM566.23,143.65h56.69c10.94,0,20.39-2.48,28.38-7.44,7.98-4.96,11.97-19.29,11.97-26.09v-25.08c0-6.8-3.99-12.64-11.97-17.52-7.98-4.88-17.44-7.32-28.38-7.32h-56.69v83.45Z"
      ></path>
      <path
        class="cls-blue"
        d="M763.11,260.12V34.02h18.39v108.23l13.67-.06,92.23-108.16h50.79c-2.82,3.17-48.97,56.36-98.83,112.42,0,0-57.97,0-57.97,0l-.14,5.6h58s.86.87.96.97c.64.66,25.4,25.38,97.98,107.11h-5.21l-94.27-104.15h-25.29s-.38,104.15-.38,104.15h-49.92Z"
      ></path>
      <path
        class="cls-blue"
        d="M142.82,200.33c-.19-5.1-.87-8.86-1.17-10.37-.8-4.07-1.91-7.58-3.02-10.46,0,0-3.51-8.54-10.99-17.02-.37-.42-2.62-2.94-7.1-7.98-.23-.26-.42-.48-.57-.64-.16-.17-.33-.38-.39-.43-.62-.69-.44-.49-1.01-1.06-.26-.26-.24-.32-.84-.85-.57,0-1.13.01-1.7.02l-53.54.06-.02-4.91,51.09-.06-38.88-43.68c-4.92-5.47-7.38-11.33-7.38-17.58,0-8.36,2.23-14.65,6.68-18.87s11.05-6.33,19.8-6.33c13.59,0,21.48,8.36,23.67,25.08h24.84c-2.03-33.28-18.67-49.92-49.92-49.92h-25.08c-13.75,0-25.51,4.92-35.27,14.77-9.77,9.84-14.65,21.56-14.65,35.16v12.66c0,6.33,1.22,12.43,3.66,18.31,3.39,8.16,7.93,13.81,10.99,16.96,4.42,4.95,20.07,22.51,20.39,22.87h9.33s5.12-.02,5.12-.02l46.94-.05h.82c4.23,3.32,10.49,9.14,15.6,18.02,2.54,4.42,11.64,21.56,6.68,43.03-1.02,4.44-4.16,17.25-15.51,27.95-14.85,14.02-33.26,14.49-42.28,14.72-7.02.18-25.25.65-40.62-11.48-2.64-2.08-8.31-6.66-12.44-14.68-4.5-8.77-4.86-17.18-4.54-23.15h-4.15c-.25,4.75-.68,23.39,12.54,37.38,11.75,12.44,27.87,14.42,38.19,15.69,3.25.4,10,1.02,18.49.08,13.19-1.46,22.4-5.77,24.29-6.67,4.43-2.12,10.56-5.12,16.77-11.37,5.71-5.75,9.08-11.83,11.03-16.38,4.79-11.17,4.43-21.09,4.14-28.8Z"
      ></path>
    </svg>

    <p class="text-[#004C8C]">
      Spark er inspireret af den følelse man får når man bliver inspireret
      kreativt, når det sitre helt ud i fingrene og man ikke kan vente på at
      begynde sit næste projekt. I alle vores passions projekter drives vi
      af følelsen at sitre, en gnist der tændes, et væld af motivation der
      holder os kørende.
    </p>
  </div>
</section>

<!-- 
    <section class="m-8 p-10 grid md:grid-cols-3 gap-5">
      <div class="bg-[#F16D41] p-5">
        <svg
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 955.48 298.07"
        >
          <defs>
            <style>
              .cls-white {
                fill: #ffffff;
              }
            </style>
          </defs>
          <path
            class="cls-white"
            d="M163.35,260.16V35.16h100.08c13.67,0,25.41,4.92,35.21,14.77,9.8,9.84,14.71,21.56,14.71,35.16v25.08c0,13.67-4.9,25.41-14.71,35.21-.59.59-1.07,1.05-1.07,1.05h-115.93s-.02,5.62-.02,5.62h112.74c-1.66.86-4.15,2-7.34,2.86-4.06,1.1-6.6,1.04-12.37,1.19l-11.24.05h-50.16v104.01s-49.92,0-49.92,0ZM166.83,143.38l56.18-.7c10.96,0,20.43-2.48,28.43-7.44,8-4.96,11.99-18.28,11.99-25.08v-25.08c0-6.8-4-12.64-11.99-17.52-8-4.88-17.47-7.32-28.43-7.32l-56.18.7v82.44Z"
          ></path>
          <path
            class="cls-white"
            d="M363.27,260.29V85.21c0-13.67,4.9-25.41,14.71-35.21,9.8-9.8,21.54-14.71,35.21-14.71h50.16c13.67,0,25.41,4.92,35.21,14.77,9.8,9.84,14.71,21.56,14.71,35.16,0,20.48,0,40.72,0,61.2h-131.27v6.12h131.11c0,36.95.14,70.81.14,107.76-16.64,0,14.18-.17-2.47-.17l-.15-104.22-97.61.17.15,104.22h-49.92ZM382.01,144.11h81.33v-59.07c0-6.8-4.02-12.64-12.07-17.52-8.05-4.88-17.58-7.32-28.6-7.32s-20.71,2.44-28.69,7.32c-7.98,4.88-11.97,10.72-11.97,17.52v59.07Z"
          ></path>
          <path
            class="cls-white"
            d="M563.19,260.12V35.12h100.08c13.67,0,25.41,4.92,35.21,14.77,9.8,9.84,14.71,21.56,14.71,35.16v13.59c-.04,7.02-1.2,21.56-11.48,32.29-11.88,12.38-24.27,15.03-40.83,15.48l-79.13.05-.02,5.86c25.49.35,88.87-.21,106.49-.27,0,0,7.06-.4,14.18,2.48,2.42.98,4.78,2.31,6.69,4.64,1.31,1.6,2.01,3.18,2.41,4.09,1.17,2.7,1.51,5.12,1.62,6.73l.08,90.14h-4.53c-.13-11.95-.22-21.94-.27-29.25,0,0-.24-33.15-.15-34.02l.03-23.85c.07-1.27.11-5.89-1.87-8.91-1.89-2.88-4.57-5.16-6.92-6.07-4.58-1.78-10.75-1.58-12-1.47-1.69.15-24.65.01-49.3.01h-25.03l-.05,103.55h-49.92ZM566.23,143.65h56.69c10.94,0,20.39-2.48,28.38-7.44,7.98-4.96,11.97-19.29,11.97-26.09v-25.08c0-6.8-3.99-12.64-11.97-17.52-7.98-4.88-17.44-7.32-28.38-7.32h-56.69v83.45Z"
          ></path>
          <path
            class="cls-white"
            d="M763.11,260.12V34.02h18.39v108.23l13.67-.06,92.23-108.16h50.79c-2.82,3.17-48.97,56.36-98.83,112.42,0,0-57.97,0-57.97,0l-.14,5.6h58s.86.87.96.97c.64.66,25.4,25.38,97.98,107.11h-5.21l-94.27-104.15h-25.29s-.38,104.15-.38,104.15h-49.92Z"
          ></path>
          <path
            class="cls-white"
            d="M142.82,200.33c-.19-5.1-.87-8.86-1.17-10.37-.8-4.07-1.91-7.58-3.02-10.46,0,0-3.51-8.54-10.99-17.02-.37-.42-2.62-2.94-7.1-7.98-.23-.26-.42-.48-.57-.64-.16-.17-.33-.38-.39-.43-.62-.69-.44-.49-1.01-1.06-.26-.26-.24-.32-.84-.85-.57,0-1.13.01-1.7.02l-53.54.06-.02-4.91,51.09-.06-38.88-43.68c-4.92-5.47-7.38-11.33-7.38-17.58,0-8.36,2.23-14.65,6.68-18.87s11.05-6.33,19.8-6.33c13.59,0,21.48,8.36,23.67,25.08h24.84c-2.03-33.28-18.67-49.92-49.92-49.92h-25.08c-13.75,0-25.51,4.92-35.27,14.77-9.77,9.84-14.65,21.56-14.65,35.16v12.66c0,6.33,1.22,12.43,3.66,18.31,3.39,8.16,7.93,13.81,10.99,16.96,4.42,4.95,20.07,22.51,20.39,22.87h9.33s5.12-.02,5.12-.02l46.94-.05h.82c4.23,3.32,10.49,9.14,15.6,18.02,2.54,4.42,11.64,21.56,6.68,43.03-1.02,4.44-4.16,17.25-15.51,27.95-14.85,14.02-33.26,14.49-42.28,14.72-7.02.18-25.25.65-40.62-11.48-2.64-2.08-8.31-6.66-12.44-14.68-4.5-8.77-4.86-17.18-4.54-23.15h-4.15c-.25,4.75-.68,23.39,12.54,37.38,11.75,12.44,27.87,14.42,38.19,15.69,3.25.4,10,1.02,18.49.08,13.19-1.46,22.4-5.77,24.29-6.67,4.43-2.12,10.56-5.12,16.77-11.37,5.71-5.75,9.08-11.83,11.03-16.38,4.79-11.17,4.43-21.09,4.14-28.8Z"
          ></path>
        </svg>

        <p class="text-white">
          Spark er inspireret af den følelse man får når man bliver inspireret
          kreativt, når det sitre helt ud i fingrene og man ikke kan vente på at
          begynde sit næste projekt. I alle vores passions projekter drives vi
          af følelsen at sitre, en gnist der tændes, et væld af motivation der
          holder os kørende.
        </p>
      </div>

      <div class="border border-[#F16D41] p-5">
        <svg
          id="Layer_5"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 955.48 298.07"
        >
          <defs>
            <style>
              .cls-orange {
                fill: #f16d41;
              }
            </style>
          </defs>
          <path
            class="cls-orange"
            d="M163.35,260.16V35.16h100.08c13.67,0,25.41,4.92,35.21,14.77,9.8,9.84,14.71,21.56,14.71,35.16v25.08c0,13.67-4.9,25.41-14.71,35.21-.59.59-1.07,1.05-1.07,1.05h-115.93s-.02,5.62-.02,5.62h112.74c-1.66.86-4.15,2-7.34,2.86-4.06,1.1-6.6,1.04-12.37,1.19l-11.24.05h-50.16v104.01s-49.92,0-49.92,0ZM166.83,143.38l56.18-.7c10.96,0,20.43-2.48,28.43-7.44,8-4.96,11.99-18.28,11.99-25.08v-25.08c0-6.8-4-12.64-11.99-17.52-8-4.88-17.47-7.32-28.43-7.32l-56.18.7v82.44Z"
          ></path>
          <path
            class="cls-orange"
            d="M363.27,260.29V85.21c0-13.67,4.9-25.41,14.71-35.21,9.8-9.8,21.54-14.71,35.21-14.71h50.16c13.67,0,25.41,4.92,35.21,14.77,9.8,9.84,14.71,21.56,14.71,35.16,0,20.48,0,40.72,0,61.2h-131.27v6.12h131.11c0,36.95.14,70.81.14,107.76-16.64,0,14.18-.17-2.47-.17l-.15-104.22-97.61.17.15,104.22h-49.92ZM382.01,144.11h81.33v-59.07c0-6.8-4.02-12.64-12.07-17.52-8.05-4.88-17.58-7.32-28.6-7.32s-20.71,2.44-28.69,7.32c-7.98,4.88-11.97,10.72-11.97,17.52v59.07Z"
          ></path>
          <path
            class="cls-orange"
            d="M563.19,260.12V35.12h100.08c13.67,0,25.41,4.92,35.21,14.77,9.8,9.84,14.71,21.56,14.71,35.16v13.59c-.04,7.02-1.2,21.56-11.48,32.29-11.88,12.38-24.27,15.03-40.83,15.48l-79.13.05-.02,5.86c25.49.35,88.87-.21,106.49-.27,0,0,7.06-.4,14.18,2.48,2.42.98,4.78,2.31,6.69,4.64,1.31,1.6,2.01,3.18,2.41,4.09,1.17,2.7,1.51,5.12,1.62,6.73l.08,90.14h-4.53c-.13-11.95-.22-21.94-.27-29.25,0,0-.24-33.15-.15-34.02l.03-23.85c.07-1.27.11-5.89-1.87-8.91-1.89-2.88-4.57-5.16-6.92-6.07-4.58-1.78-10.75-1.58-12-1.47-1.69.15-24.65.01-49.3.01h-25.03l-.05,103.55h-49.92ZM566.23,143.65h56.69c10.94,0,20.39-2.48,28.38-7.44,7.98-4.96,11.97-19.29,11.97-26.09v-25.08c0-6.8-3.99-12.64-11.97-17.52-7.98-4.88-17.44-7.32-28.38-7.32h-56.69v83.45Z"
          ></path>
          <path
            class="cls-orange"
            d="M763.11,260.12V34.02h18.39v108.23l13.67-.06,92.23-108.16h50.79c-2.82,3.17-48.97,56.36-98.83,112.42,0,0-57.97,0-57.97,0l-.14,5.6h58s.86.87.96.97c.64.66,25.4,25.38,97.98,107.11h-5.21l-94.27-104.15h-25.29s-.38,104.15-.38,104.15h-49.92Z"
          ></path>
          <path
            class="cls-orange"
            d="M142.82,200.33c-.19-5.1-.87-8.86-1.17-10.37-.8-4.07-1.91-7.58-3.02-10.46,0,0-3.51-8.54-10.99-17.02-.37-.42-2.62-2.94-7.1-7.98-.23-.26-.42-.48-.57-.64-.16-.17-.33-.38-.39-.43-.62-.69-.44-.49-1.01-1.06-.26-.26-.24-.32-.84-.85-.57,0-1.13.01-1.7.02l-53.54.06-.02-4.91,51.09-.06-38.88-43.68c-4.92-5.47-7.38-11.33-7.38-17.58,0-8.36,2.23-14.65,6.68-18.87s11.05-6.33,19.8-6.33c13.59,0,21.48,8.36,23.67,25.08h24.84c-2.03-33.28-18.67-49.92-49.92-49.92h-25.08c-13.75,0-25.51,4.92-35.27,14.77-9.77,9.84-14.65,21.56-14.65,35.16v12.66c0,6.33,1.22,12.43,3.66,18.31,3.39,8.16,7.93,13.81,10.99,16.96,4.42,4.95,20.07,22.51,20.39,22.87h9.33s5.12-.02,5.12-.02l46.94-.05h.82c4.23,3.32,10.49,9.14,15.6,18.02,2.54,4.42,11.64,21.56,6.68,43.03-1.02,4.44-4.16,17.25-15.51,27.95-14.85,14.02-33.26,14.49-42.28,14.72-7.02.18-25.25.65-40.62-11.48-2.64-2.08-8.31-6.66-12.44-14.68-4.5-8.77-4.86-17.18-4.54-23.15h-4.15c-.25,4.75-.68,23.39,12.54,37.38,11.75,12.44,27.87,14.42,38.19,15.69,3.25.4,10,1.02,18.49.08,13.19-1.46,22.4-5.77,24.29-6.67,4.43-2.12,10.56-5.12,16.77-11.37,5.71-5.75,9.08-11.83,11.03-16.38,4.79-11.17,4.43-21.09,4.14-28.8Z"
          ></path>
        </svg>

        <p class="text-[#F16D41]">
          Spark er inspireret af den følelse man får når man bliver inspireret
          kreativt, når det sitre helt ud i fingrene og man ikke kan vente på at
          begynde sit næste projekt. I alle vores passions projekter drives vi
          af følelsen at sitre, en gnist der tændes, et væld af motivation der
          holder os kørende.
        </p>
      </div>

      <div class="border border-[#0F0E0E] p-5">
        <svg
          id="Layer_5"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 955.48 298.07"
        >
          <defs>
            <style>
              .cls-black {
                fill: #0f0e0e;
              }
            </style>
          </defs>
          <path
            class="cls-black"
            d="M163.35,260.16V35.16h100.08c13.67,0,25.41,4.92,35.21,14.77,9.8,9.84,14.71,21.56,14.71,35.16v25.08c0,13.67-4.9,25.41-14.71,35.21-.59.59-1.07,1.05-1.07,1.05h-115.93s-.02,5.62-.02,5.62h112.74c-1.66.86-4.15,2-7.34,2.86-4.06,1.1-6.6,1.04-12.37,1.19l-11.24.05h-50.16v104.01s-49.92,0-49.92,0ZM166.83,143.38l56.18-.7c10.96,0,20.43-2.48,28.43-7.44,8-4.96,11.99-18.28,11.99-25.08v-25.08c0-6.8-4-12.64-11.99-17.52-8-4.88-17.47-7.32-28.43-7.32l-56.18.7v82.44Z"
          ></path>
          <path
            class="cls-black"
            d="M363.27,260.29V85.21c0-13.67,4.9-25.41,14.71-35.21,9.8-9.8,21.54-14.71,35.21-14.71h50.16c13.67,0,25.41,4.92,35.21,14.77,9.8,9.84,14.71,21.56,14.71,35.16,0,20.48,0,40.72,0,61.2h-131.27v6.12h131.11c0,36.95.14,70.81.14,107.76-16.64,0,14.18-.17-2.47-.17l-.15-104.22-97.61.17.15,104.22h-49.92ZM382.01,144.11h81.33v-59.07c0-6.8-4.02-12.64-12.07-17.52-8.05-4.88-17.58-7.32-28.6-7.32s-20.71,2.44-28.69,7.32c-7.98,4.88-11.97,10.72-11.97,17.52v59.07Z"
          ></path>
          <path
            class="cls-black"
            d="M563.19,260.12V35.12h100.08c13.67,0,25.41,4.92,35.21,14.77,9.8,9.84,14.71,21.56,14.71,35.16v13.59c-.04,7.02-1.2,21.56-11.48,32.29-11.88,12.38-24.27,15.03-40.83,15.48l-79.13.05-.02,5.86c25.49.35,88.87-.21,106.49-.27,0,0,7.06-.4,14.18,2.48,2.42.98,4.78,2.31,6.69,4.64,1.31,1.6,2.01,3.18,2.41,4.09,1.17,2.7,1.51,5.12,1.62,6.73l.08,90.14h-4.53c-.13-11.95-.22-21.94-.27-29.25,0,0-.24-33.15-.15-34.02l.03-23.85c.07-1.27.11-5.89-1.87-8.91-1.89-2.88-4.57-5.16-6.92-6.07-4.58-1.78-10.75-1.58-12-1.47-1.69.15-24.65.01-49.3.01h-25.03l-.05,103.55h-49.92ZM566.23,143.65h56.69c10.94,0,20.39-2.48,28.38-7.44,7.98-4.96,11.97-19.29,11.97-26.09v-25.08c0-6.8-3.99-12.64-11.97-17.52-7.98-4.88-17.44-7.32-28.38-7.32h-56.69v83.45Z"
          ></path>
          <path
            class="cls-black"
            d="M763.11,260.12V34.02h18.39v108.23l13.67-.06,92.23-108.16h50.79c-2.82,3.17-48.97,56.36-98.83,112.42,0,0-57.97,0-57.97,0l-.14,5.6h58s.86.87.96.97c.64.66,25.4,25.38,97.98,107.11h-5.21l-94.27-104.15h-25.29s-.38,104.15-.38,104.15h-49.92Z"
          ></path>
          <path
            class="cls-black"
            d="M142.82,200.33c-.19-5.1-.87-8.86-1.17-10.37-.8-4.07-1.91-7.58-3.02-10.46,0,0-3.51-8.54-10.99-17.02-.37-.42-2.62-2.94-7.1-7.98-.23-.26-.42-.48-.57-.64-.16-.17-.33-.38-.39-.43-.62-.69-.44-.49-1.01-1.06-.26-.26-.24-.32-.84-.85-.57,0-1.13.01-1.7.02l-53.54.06-.02-4.91,51.09-.06-38.88-43.68c-4.92-5.47-7.38-11.33-7.38-17.58,0-8.36,2.23-14.65,6.68-18.87s11.05-6.33,19.8-6.33c13.59,0,21.48,8.36,23.67,25.08h24.84c-2.03-33.28-18.67-49.92-49.92-49.92h-25.08c-13.75,0-25.51,4.92-35.27,14.77-9.77,9.84-14.65,21.56-14.65,35.16v12.66c0,6.33,1.22,12.43,3.66,18.31,3.39,8.16,7.93,13.81,10.99,16.96,4.42,4.95,20.07,22.51,20.39,22.87h9.33s5.12-.02,5.12-.02l46.94-.05h.82c4.23,3.32,10.49,9.14,15.6,18.02,2.54,4.42,11.64,21.56,6.68,43.03-1.02,4.44-4.16,17.25-15.51,27.95-14.85,14.02-33.26,14.49-42.28,14.72-7.02.18-25.25.65-40.62-11.48-2.64-2.08-8.31-6.66-12.44-14.68-4.5-8.77-4.86-17.18-4.54-23.15h-4.15c-.25,4.75-.68,23.39,12.54,37.38,11.75,12.44,27.87,14.42,38.19,15.69,3.25.4,10,1.02,18.49.08,13.19-1.46,22.4-5.77,24.29-6.67,4.43-2.12,10.56-5.12,16.77-11.37,5.71-5.75,9.08-11.83,11.03-16.38,4.79-11.17,4.43-21.09,4.14-28.8Z"
          ></path>
        </svg>

        <p class="text-[#0F0E0E]">
          Spark er inspireret af den følelse man får når man bliver inspireret
          kreativt, når det sitre helt ud i fingrene og man ikke kan vente på at
          begynde sit næste projekt. I alle vores passions projekter drives vi
          af følelsen at sitre, en gnist der tændes, et væld af motivation der
          holder os kørende.
        </p>
      </div>

      <div class="border border-[#004C8C] p-5">
        <svg
          id="Layer_5"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 955.48 298.07"
        >
          <defs>
            <style>
              .cls-blue {
                fill: #004c8c;
              }
            </style>
          </defs>
          <path
            class="cls-blue"
            d="M163.35,260.16V35.16h100.08c13.67,0,25.41,4.92,35.21,14.77,9.8,9.84,14.71,21.56,14.71,35.16v25.08c0,13.67-4.9,25.41-14.71,35.21-.59.59-1.07,1.05-1.07,1.05h-115.93s-.02,5.62-.02,5.62h112.74c-1.66.86-4.15,2-7.34,2.86-4.06,1.1-6.6,1.04-12.37,1.19l-11.24.05h-50.16v104.01s-49.92,0-49.92,0ZM166.83,143.38l56.18-.7c10.96,0,20.43-2.48,28.43-7.44,8-4.96,11.99-18.28,11.99-25.08v-25.08c0-6.8-4-12.64-11.99-17.52-8-4.88-17.47-7.32-28.43-7.32l-56.18.7v82.44Z"
          ></path>
          <path
            class="cls-blue"
            d="M363.27,260.29V85.21c0-13.67,4.9-25.41,14.71-35.21,9.8-9.8,21.54-14.71,35.21-14.71h50.16c13.67,0,25.41,4.92,35.21,14.77,9.8,9.84,14.71,21.56,14.71,35.16,0,20.48,0,40.72,0,61.2h-131.27v6.12h131.11c0,36.95.14,70.81.14,107.76-16.64,0,14.18-.17-2.47-.17l-.15-104.22-97.61.17.15,104.22h-49.92ZM382.01,144.11h81.33v-59.07c0-6.8-4.02-12.64-12.07-17.52-8.05-4.88-17.58-7.32-28.6-7.32s-20.71,2.44-28.69,7.32c-7.98,4.88-11.97,10.72-11.97,17.52v59.07Z"
          ></path>
          <path
            class="cls-blue"
            d="M563.19,260.12V35.12h100.08c13.67,0,25.41,4.92,35.21,14.77,9.8,9.84,14.71,21.56,14.71,35.16v13.59c-.04,7.02-1.2,21.56-11.48,32.29-11.88,12.38-24.27,15.03-40.83,15.48l-79.13.05-.02,5.86c25.49.35,88.87-.21,106.49-.27,0,0,7.06-.4,14.18,2.48,2.42.98,4.78,2.31,6.69,4.64,1.31,1.6,2.01,3.18,2.41,4.09,1.17,2.7,1.51,5.12,1.62,6.73l.08,90.14h-4.53c-.13-11.95-.22-21.94-.27-29.25,0,0-.24-33.15-.15-34.02l.03-23.85c.07-1.27.11-5.89-1.87-8.91-1.89-2.88-4.57-5.16-6.92-6.07-4.58-1.78-10.75-1.58-12-1.47-1.69.15-24.65.01-49.3.01h-25.03l-.05,103.55h-49.92ZM566.23,143.65h56.69c10.94,0,20.39-2.48,28.38-7.44,7.98-4.96,11.97-19.29,11.97-26.09v-25.08c0-6.8-3.99-12.64-11.97-17.52-7.98-4.88-17.44-7.32-28.38-7.32h-56.69v83.45Z"
          ></path>
          <path
            class="cls-blue"
            d="M763.11,260.12V34.02h18.39v108.23l13.67-.06,92.23-108.16h50.79c-2.82,3.17-48.97,56.36-98.83,112.42,0,0-57.97,0-57.97,0l-.14,5.6h58s.86.87.96.97c.64.66,25.4,25.38,97.98,107.11h-5.21l-94.27-104.15h-25.29s-.38,104.15-.38,104.15h-49.92Z"
          ></path>
          <path
            class="cls-blue"
            d="M142.82,200.33c-.19-5.1-.87-8.86-1.17-10.37-.8-4.07-1.91-7.58-3.02-10.46,0,0-3.51-8.54-10.99-17.02-.37-.42-2.62-2.94-7.1-7.98-.23-.26-.42-.48-.57-.64-.16-.17-.33-.38-.39-.43-.62-.69-.44-.49-1.01-1.06-.26-.26-.24-.32-.84-.85-.57,0-1.13.01-1.7.02l-53.54.06-.02-4.91,51.09-.06-38.88-43.68c-4.92-5.47-7.38-11.33-7.38-17.58,0-8.36,2.23-14.65,6.68-18.87s11.05-6.33,19.8-6.33c13.59,0,21.48,8.36,23.67,25.08h24.84c-2.03-33.28-18.67-49.92-49.92-49.92h-25.08c-13.75,0-25.51,4.92-35.27,14.77-9.77,9.84-14.65,21.56-14.65,35.16v12.66c0,6.33,1.22,12.43,3.66,18.31,3.39,8.16,7.93,13.81,10.99,16.96,4.42,4.95,20.07,22.51,20.39,22.87h9.33s5.12-.02,5.12-.02l46.94-.05h.82c4.23,3.32,10.49,9.14,15.6,18.02,2.54,4.42,11.64,21.56,6.68,43.03-1.02,4.44-4.16,17.25-15.51,27.95-14.85,14.02-33.26,14.49-42.28,14.72-7.02.18-25.25.65-40.62-11.48-2.64-2.08-8.31-6.66-12.44-14.68-4.5-8.77-4.86-17.18-4.54-23.15h-4.15c-.25,4.75-.68,23.39,12.54,37.38,11.75,12.44,27.87,14.42,38.19,15.69,3.25.4,10,1.02,18.49.08,13.19-1.46,22.4-5.77,24.29-6.67,4.43-2.12,10.56-5.12,16.77-11.37,5.71-5.75,9.08-11.83,11.03-16.38,4.79-11.17,4.43-21.09,4.14-28.8Z"
          ></path>
        </svg>

        <p class="text-[#004C8C]">
          Spark er inspireret af den følelse man får når man bliver inspireret
          kreativt, når det sitre helt ud i fingrene og man ikke kan vente på at
          begynde sit næste projekt. I alle vores passions projekter drives vi
          af følelsen at sitre, en gnist der tændes, et væld af motivation der
          holder os kørende.
        </p>
      </div>

      <div class="bg-[#004C8C] p-5">
        <svg
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 955.48 298.07"
        >
          <defs>
            <style>
              .cls-white {
                fill: #ffffff;
              }
            </style>
          </defs>
          <path
            class="cls-white"
            d="M163.35,260.16V35.16h100.08c13.67,0,25.41,4.92,35.21,14.77,9.8,9.84,14.71,21.56,14.71,35.16v25.08c0,13.67-4.9,25.41-14.71,35.21-.59.59-1.07,1.05-1.07,1.05h-115.93s-.02,5.62-.02,5.62h112.74c-1.66.86-4.15,2-7.34,2.86-4.06,1.1-6.6,1.04-12.37,1.19l-11.24.05h-50.16v104.01s-49.92,0-49.92,0ZM166.83,143.38l56.18-.7c10.96,0,20.43-2.48,28.43-7.44,8-4.96,11.99-18.28,11.99-25.08v-25.08c0-6.8-4-12.64-11.99-17.52-8-4.88-17.47-7.32-28.43-7.32l-56.18.7v82.44Z"
          ></path>
          <path
            class="cls-white"
            d="M363.27,260.29V85.21c0-13.67,4.9-25.41,14.71-35.21,9.8-9.8,21.54-14.71,35.21-14.71h50.16c13.67,0,25.41,4.92,35.21,14.77,9.8,9.84,14.71,21.56,14.71,35.16,0,20.48,0,40.72,0,61.2h-131.27v6.12h131.11c0,36.95.14,70.81.14,107.76-16.64,0,14.18-.17-2.47-.17l-.15-104.22-97.61.17.15,104.22h-49.92ZM382.01,144.11h81.33v-59.07c0-6.8-4.02-12.64-12.07-17.52-8.05-4.88-17.58-7.32-28.6-7.32s-20.71,2.44-28.69,7.32c-7.98,4.88-11.97,10.72-11.97,17.52v59.07Z"
          ></path>
          <path
            class="cls-white"
            d="M563.19,260.12V35.12h100.08c13.67,0,25.41,4.92,35.21,14.77,9.8,9.84,14.71,21.56,14.71,35.16v13.59c-.04,7.02-1.2,21.56-11.48,32.29-11.88,12.38-24.27,15.03-40.83,15.48l-79.13.05-.02,5.86c25.49.35,88.87-.21,106.49-.27,0,0,7.06-.4,14.18,2.48,2.42.98,4.78,2.31,6.69,4.64,1.31,1.6,2.01,3.18,2.41,4.09,1.17,2.7,1.51,5.12,1.62,6.73l.08,90.14h-4.53c-.13-11.95-.22-21.94-.27-29.25,0,0-.24-33.15-.15-34.02l.03-23.85c.07-1.27.11-5.89-1.87-8.91-1.89-2.88-4.57-5.16-6.92-6.07-4.58-1.78-10.75-1.58-12-1.47-1.69.15-24.65.01-49.3.01h-25.03l-.05,103.55h-49.92ZM566.23,143.65h56.69c10.94,0,20.39-2.48,28.38-7.44,7.98-4.96,11.97-19.29,11.97-26.09v-25.08c0-6.8-3.99-12.64-11.97-17.52-7.98-4.88-17.44-7.32-28.38-7.32h-56.69v83.45Z"
          ></path>
          <path
            class="cls-white"
            d="M763.11,260.12V34.02h18.39v108.23l13.67-.06,92.23-108.16h50.79c-2.82,3.17-48.97,56.36-98.83,112.42,0,0-57.97,0-57.97,0l-.14,5.6h58s.86.87.96.97c.64.66,25.4,25.38,97.98,107.11h-5.21l-94.27-104.15h-25.29s-.38,104.15-.38,104.15h-49.92Z"
          ></path>
          <path
            class="cls-white"
            d="M142.82,200.33c-.19-5.1-.87-8.86-1.17-10.37-.8-4.07-1.91-7.58-3.02-10.46,0,0-3.51-8.54-10.99-17.02-.37-.42-2.62-2.94-7.1-7.98-.23-.26-.42-.48-.57-.64-.16-.17-.33-.38-.39-.43-.62-.69-.44-.49-1.01-1.06-.26-.26-.24-.32-.84-.85-.57,0-1.13.01-1.7.02l-53.54.06-.02-4.91,51.09-.06-38.88-43.68c-4.92-5.47-7.38-11.33-7.38-17.58,0-8.36,2.23-14.65,6.68-18.87s11.05-6.33,19.8-6.33c13.59,0,21.48,8.36,23.67,25.08h24.84c-2.03-33.28-18.67-49.92-49.92-49.92h-25.08c-13.75,0-25.51,4.92-35.27,14.77-9.77,9.84-14.65,21.56-14.65,35.16v12.66c0,6.33,1.22,12.43,3.66,18.31,3.39,8.16,7.93,13.81,10.99,16.96,4.42,4.95,20.07,22.51,20.39,22.87h9.33s5.12-.02,5.12-.02l46.94-.05h.82c4.23,3.32,10.49,9.14,15.6,18.02,2.54,4.42,11.64,21.56,6.68,43.03-1.02,4.44-4.16,17.25-15.51,27.95-14.85,14.02-33.26,14.49-42.28,14.72-7.02.18-25.25.65-40.62-11.48-2.64-2.08-8.31-6.66-12.44-14.68-4.5-8.77-4.86-17.18-4.54-23.15h-4.15c-.25,4.75-.68,23.39,12.54,37.38,11.75,12.44,27.87,14.42,38.19,15.69,3.25.4,10,1.02,18.49.08,13.19-1.46,22.4-5.77,24.29-6.67,4.43-2.12,10.56-5.12,16.77-11.37,5.71-5.75,9.08-11.83,11.03-16.38,4.79-11.17,4.43-21.09,4.14-28.8Z"
          ></path>
        </svg>

        <p class="text-white">
          Spark er inspireret af den følelse man får når man bliver inspireret
          kreativt, når det sitre helt ud i fingrene og man ikke kan vente på at
          begynde sit næste projekt. I alle vores passions projekter drives vi
          af følelsen at sitre, en gnist der tændes, et væld af motivation der
          holder os kørende.
        </p>
      </div>

      <div class="bg-[#0F0E0E] p-5">
        <svg
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 955.48 298.07"
        >
          <defs>
            <style>
              .cls-white {
                fill: #ffffff;
              }
            </style>
          </defs>
          <path
            class="cls-white"
            d="M163.35,260.16V35.16h100.08c13.67,0,25.41,4.92,35.21,14.77,9.8,9.84,14.71,21.56,14.71,35.16v25.08c0,13.67-4.9,25.41-14.71,35.21-.59.59-1.07,1.05-1.07,1.05h-115.93s-.02,5.62-.02,5.62h112.74c-1.66.86-4.15,2-7.34,2.86-4.06,1.1-6.6,1.04-12.37,1.19l-11.24.05h-50.16v104.01s-49.92,0-49.92,0ZM166.83,143.38l56.18-.7c10.96,0,20.43-2.48,28.43-7.44,8-4.96,11.99-18.28,11.99-25.08v-25.08c0-6.8-4-12.64-11.99-17.52-8-4.88-17.47-7.32-28.43-7.32l-56.18.7v82.44Z"
          ></path>
          <path
            class="cls-white"
            d="M363.27,260.29V85.21c0-13.67,4.9-25.41,14.71-35.21,9.8-9.8,21.54-14.71,35.21-14.71h50.16c13.67,0,25.41,4.92,35.21,14.77,9.8,9.84,14.71,21.56,14.71,35.16,0,20.48,0,40.72,0,61.2h-131.27v6.12h131.11c0,36.95.14,70.81.14,107.76-16.64,0,14.18-.17-2.47-.17l-.15-104.22-97.61.17.15,104.22h-49.92ZM382.01,144.11h81.33v-59.07c0-6.8-4.02-12.64-12.07-17.52-8.05-4.88-17.58-7.32-28.6-7.32s-20.71,2.44-28.69,7.32c-7.98,4.88-11.97,10.72-11.97,17.52v59.07Z"
          ></path>
          <path
            class="cls-white"
            d="M563.19,260.12V35.12h100.08c13.67,0,25.41,4.92,35.21,14.77,9.8,9.84,14.71,21.56,14.71,35.16v13.59c-.04,7.02-1.2,21.56-11.48,32.29-11.88,12.38-24.27,15.03-40.83,15.48l-79.13.05-.02,5.86c25.49.35,88.87-.21,106.49-.27,0,0,7.06-.4,14.18,2.48,2.42.98,4.78,2.31,6.69,4.64,1.31,1.6,2.01,3.18,2.41,4.09,1.17,2.7,1.51,5.12,1.62,6.73l.08,90.14h-4.53c-.13-11.95-.22-21.94-.27-29.25,0,0-.24-33.15-.15-34.02l.03-23.85c.07-1.27.11-5.89-1.87-8.91-1.89-2.88-4.57-5.16-6.92-6.07-4.58-1.78-10.75-1.58-12-1.47-1.69.15-24.65.01-49.3.01h-25.03l-.05,103.55h-49.92ZM566.23,143.65h56.69c10.94,0,20.39-2.48,28.38-7.44,7.98-4.96,11.97-19.29,11.97-26.09v-25.08c0-6.8-3.99-12.64-11.97-17.52-7.98-4.88-17.44-7.32-28.38-7.32h-56.69v83.45Z"
          ></path>
          <path
            class="cls-white"
            d="M763.11,260.12V34.02h18.39v108.23l13.67-.06,92.23-108.16h50.79c-2.82,3.17-48.97,56.36-98.83,112.42,0,0-57.97,0-57.97,0l-.14,5.6h58s.86.87.96.97c.64.66,25.4,25.38,97.98,107.11h-5.21l-94.27-104.15h-25.29s-.38,104.15-.38,104.15h-49.92Z"
          ></path>
          <path
            class="cls-white"
            d="M142.82,200.33c-.19-5.1-.87-8.86-1.17-10.37-.8-4.07-1.91-7.58-3.02-10.46,0,0-3.51-8.54-10.99-17.02-.37-.42-2.62-2.94-7.1-7.98-.23-.26-.42-.48-.57-.64-.16-.17-.33-.38-.39-.43-.62-.69-.44-.49-1.01-1.06-.26-.26-.24-.32-.84-.85-.57,0-1.13.01-1.7.02l-53.54.06-.02-4.91,51.09-.06-38.88-43.68c-4.92-5.47-7.38-11.33-7.38-17.58,0-8.36,2.23-14.65,6.68-18.87s11.05-6.33,19.8-6.33c13.59,0,21.48,8.36,23.67,25.08h24.84c-2.03-33.28-18.67-49.92-49.92-49.92h-25.08c-13.75,0-25.51,4.92-35.27,14.77-9.77,9.84-14.65,21.56-14.65,35.16v12.66c0,6.33,1.22,12.43,3.66,18.31,3.39,8.16,7.93,13.81,10.99,16.96,4.42,4.95,20.07,22.51,20.39,22.87h9.33s5.12-.02,5.12-.02l46.94-.05h.82c4.23,3.32,10.49,9.14,15.6,18.02,2.54,4.42,11.64,21.56,6.68,43.03-1.02,4.44-4.16,17.25-15.51,27.95-14.85,14.02-33.26,14.49-42.28,14.72-7.02.18-25.25.65-40.62-11.48-2.64-2.08-8.31-6.66-12.44-14.68-4.5-8.77-4.86-17.18-4.54-23.15h-4.15c-.25,4.75-.68,23.39,12.54,37.38,11.75,12.44,27.87,14.42,38.19,15.69,3.25.4,10,1.02,18.49.08,13.19-1.46,22.4-5.77,24.29-6.67,4.43-2.12,10.56-5.12,16.77-11.37,5.71-5.75,9.08-11.83,11.03-16.38,4.79-11.17,4.43-21.09,4.14-28.8Z"
          ></path>
        </svg>

        <p class="text-white">
          Spark er inspireret af den følelse man får når man bliver inspireret
          kreativt, når det sitre helt ud i fingrene og man ikke kan vente på at
          begynde sit næste projekt. I alle vores passions projekter drives vi
          af følelsen at sitre, en gnist der tændes, et væld af motivation der
          holder os kørende.
        </p>
      </div>
    </section>
 -->


    <!-- moodboard -->
    <section id="Inspiration" class="flex relative justify-center items-center min-h-screen -mt-32">
      <div class="relative w-full max-w-7xl mx-auto p-6">
          
        <!-- text -->
        <div class="relative flex items-center justify-center">

          <div class="absolute z-20 transform translate-x-80 -translate-y-40">
            <Image loading="lazy" src={moodboard4} alt="moodboard" class="object-contain opacity-85 border border-orange-500" />
          </div>

          <div class="absolute z-0 transform -translate-x-28 -translate-y-36">
            <Image loading="lazy" src={moodboard2} alt="Background Image" class="object-cover opacity-50" />
          </div>
        
          <!-- SPARK  -->
          <div class="relative z-10">
            <Image loading="lazy" src={Spark} alt="SPARK Typography" class="object-cover" />
          </div>
        
          <div class="absolute z-20 transform translate-x-14 translate-y-28">
            <Image loading="lazy" src={moodboard1} alt="Foreground Image" class="object-cover w-1/5 opacity-80 border border-orange-500" />
          </div>
           <!-- Inspiration Text -->
        <div class="absolute z-20 transform translate-x-14 translate-y-56">
          <h2 class="font-semibold mb-4  ">Inspiration til font SPARK</h2>
          <p class="leading-relaxed max-w-2xl  text-base">
            Jeg blev inspireret af den kantede font, da jeg synes, den udstrålede en rå og markant energi, samtidig med at jeg var fascineret af højkontrasterede designs, som skaber en stærk visuel effekt. Jeg ønskede at finde en balance mellem disse elementer, så jeg besluttede at kombinere den kantede og strukturerede stil med en enkel, tynd streg. Dette valg gav mig mulighed for at skabe et design, der både er tydeligt og skarpt, men samtidig let og minimalistisk. Jeg synes, det var en spændende måde at blande det rå og det enkle på.
          </p>
        </div>
        </div>
      </div>
    </section>
    
  
<!-- Design -->
 <section class="p-12 max-w-screen-lg m-auto">
<Image loading="lazy" src={Illustrator} alt="Illustrator" class="" />
</section>

  </article>
</MainLayout>